<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Hib疫苗 第1/4针</string>
		<key>time</key>
		<string>2月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

Hib疫苗又称b型流感嗜血杆菌疫苗，Hib是一种引起婴幼儿严重疾病，甚至死亡的致病菌，为嗜血杆菌属，革兰氏阴性球杆菌。可导致多种侵袭性疾病，如脑膜炎、肺炎、会厌炎、败血症、蜂窝组织炎、心包炎、脊髓炎等。 全球每年约300万儿童受到感染，造成40—70万儿童死亡。在我国，化脓性脑膜炎的50%左右、肺炎的30%左右是由Hib引起的。

【预防疾病】

适用于预防由b型流感嗜血杆菌感染引起的一系列疾病如：脑膜炎、肺炎、咽喉炎、败血症等。在应用疫苗前，b型流感嗜血杆菌脑膜炎的病死率约为2%～5%。而且15%～30%的病例会留有不同程度的神经系统后遗症。如果家庭经济状况允许，为宝宝接种b型嗜血流感杆菌结合疫苗还是有必要的

【接种对象和时间】

1、基础接种程序：6周到6个月宝宝，接种三针，一般是2月、3月、5月三针，第二年加强一针，共4针。

2、补漏程序：7-11月宝宝接种2针，一般是7月、9月时候各接种一针，第二年加强一针,共3针。1岁以上宝宝接种1针。

【Hib疫苗有必要打吗】

自费疫苗hib是否要打，要根据宝宝的具体情况来定，如果宝宝的免疫功能强，感受抵御外来风寒能力强，与小朋友接触不多，可以不打的，否则就要接种免疫，爸妈花钱为宝宝买个安心也是可以理解的。

【注意事项】

禁忌：对发烧或患急性感染性疾病的个体不能进行Hib疫苗的接种，对疫苗中任何一种成分，特别是破伤风类毒素过敏者禁忌。


【Hib疫苗多少钱】

接种hib疫苗多少钱？根据接种疫苗的要求，hib疫苗总共需要打三针，接种一针的hib疫苗大约是100元-150元，三针hib疫苗打下来大约需要300-400元，所以说hib疫苗不是很贵，一般人都可以承受。为了宝宝的身体健康，妈妈们还是让宝宝接种hib疫苗比较好，以防万一。</string>
		<key>vaccineId</key>
		<string>101</string>
		<key>vaccindateDate</key>
		<string>000200</string>
		<key>vaccineOverDue</key>
		<string>000200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五联疫苗 第1/4针</string>
		<key>time</key>
		<string>2月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

五联疫苗是指含有五个活的、灭活的生物体或者提纯的抗原，由生产者联合配制而成，用于预防多种疾病，2011年5月作为首个儿童五联疫苗在国内上市，该疫苗可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病，使原本为预防这五大疾病所需要的接种针次由12针降至4针，有效轻了宝宝接种时的痛苦。

【预防疾病】

可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病。

【接种对象和时间】

在婴儿2、3、4或3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、注射后有可能出现发热、注射局部可能短时出现硬结。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>102</string>
		<key>vaccindateDate</key>
		<string>000200</string>
		<key>vaccineOverDue</key>
		<string>000200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hib疫苗 第2/4针</string>
		<key>time</key>
		<string>3月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

Hib疫苗又称b型流感嗜血杆菌疫苗，Hib是一种引起婴幼儿严重疾病，甚至死亡的致病菌，为嗜血杆菌属，革兰氏阴性球杆菌。可导致多种侵袭性疾病，如脑膜炎、肺炎、会厌炎、败血症、蜂窝组织炎、心包炎、脊髓炎等。 全球每年约300万儿童受到感染，造成40—70万儿童死亡。在我国，化脓性脑膜炎的50%左右、肺炎的30%左右是由Hib引起的。

【预防疾病】

适用于预防由b型流感嗜血杆菌感染引起的一系列疾病如：脑膜炎、肺炎、咽喉炎、败血症等。在应用疫苗前，b型流感嗜血杆菌脑膜炎的病死率约为2%～5%。而且15%～30%的病例会留有不同程度的神经系统后遗症。如果家庭经济状况允许，为宝宝接种b型嗜血流感杆菌结合疫苗还是有必要的

【接种对象和时间】

1、基础接种程序：6周到6个月宝宝，接种三针，一般是2月、3月、5月三针，第二年加强一针，共4针。

2、补漏程序：7-11月宝宝接种2针，一般是7月、9月时候各接种一针，第二年加强一针,共3针。1岁以上宝宝接种1针。

【Hib疫苗有必要打吗】

自费疫苗hib是否要打，要根据宝宝的具体情况来定，如果宝宝的免疫功能强，感受抵御外来风寒能力强，与小朋友接触不多，可以不打的，否则就要接种免疫，爸妈花钱为宝宝买个安心也是可以理解的。

【注意事项】

禁忌：对发烧或患急性感染性疾病的个体不能进行Hib疫苗的接种，对疫苗中任何一种成分，特别是破伤风类毒素过敏者禁忌。


【Hib疫苗多少钱】

接种hib疫苗多少钱？根据接种疫苗的要求，hib疫苗总共需要打三针，接种一针的hib疫苗大约是100元-150元，三针hib疫苗打下来大约需要300-400元，所以说hib疫苗不是很贵，一般人都可以承受。为了宝宝的身体健康，妈妈们还是让宝宝接种hib疫苗比较好，以防万一。</string>
		<key>vaccineId</key>
		<string>103</string>
		<key>vaccindateDate</key>
		<string>000300</string>
		<key>vaccineOverDue</key>
		<string>000300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五联疫苗 第2/4针</string>
		<key>time</key>
		<string>3月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

五联疫苗是指含有五个活的、灭活的生物体或者提纯的抗原，由生产者联合配制而成，用于预防多种疾病，2011年5月作为首个儿童五联疫苗在国内上市，该疫苗可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病，使原本为预防这五大疾病所需要的接种针次由12针降至4针，有效轻了宝宝接种时的痛苦。

【预防疾病】

可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病。

【接种对象和时间】

在婴儿2、3、4或3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、注射后有可能出现发热、注射局部可能短时出现硬结。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>104</string>
		<key>vaccindateDate</key>
		<string>000300</string>
		<key>vaccineOverDue</key>
		<string>000300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7价肺炎疫苗 第1/4针</string>
		<key>time</key>
		<string>3月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本品接种用于婴幼儿主动免疫，以预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。肺炎球菌属链球菌属，是细菌性肺炎的主要病原菌。接种肺炎球菌疫苗能有效的预防肺炎。

【预防疾病】

预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。
【接种对象和时间】

推荐常规免疫接种程序：3、4、5月龄进行基础免疫、12～15月龄加强免疫。

【注意事项】

对本疫苗中任何成份过敏，或对白喉类毒素过敏者禁用。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、最常见的不良反应是注射部位的局部不良反应和发热，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>105</string>
		<key>vaccindateDate</key>
		<string>000300</string>
		<key>vaccineOverDue</key>
		<string>000300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hib疫苗 第3/4针</string>
		<key>time</key>
		<string>4月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

Hib疫苗又称b型流感嗜血杆菌疫苗，Hib是一种引起婴幼儿严重疾病，甚至死亡的致病菌，为嗜血杆菌属，革兰氏阴性球杆菌。可导致多种侵袭性疾病，如脑膜炎、肺炎、会厌炎、败血症、蜂窝组织炎、心包炎、脊髓炎等。 全球每年约300万儿童受到感染，造成40—70万儿童死亡。在我国，化脓性脑膜炎的50%左右、肺炎的30%左右是由Hib引起的。

【预防疾病】

适用于预防由b型流感嗜血杆菌感染引起的一系列疾病如：脑膜炎、肺炎、咽喉炎、败血症等。在应用疫苗前，b型流感嗜血杆菌脑膜炎的病死率约为2%～5%。而且15%～30%的病例会留有不同程度的神经系统后遗症。如果家庭经济状况允许，为宝宝接种b型嗜血流感杆菌结合疫苗还是有必要的

【接种对象和时间】

1、基础接种程序：6周到6个月宝宝，接种三针，一般是2月、3月、5月三针，第二年加强一针，共4针。

2、补漏程序：7-11月宝宝接种2针，一般是7月、9月时候各接种一针，第二年加强一针,共3针。1岁以上宝宝接种1针。

【Hib疫苗有必要打吗】

自费疫苗hib是否要打，要根据宝宝的具体情况来定，如果宝宝的免疫功能强，感受抵御外来风寒能力强，与小朋友接触不多，可以不打的，否则就要接种免疫，爸妈花钱为宝宝买个安心也是可以理解的。

【注意事项】

禁忌：对发烧或患急性感染性疾病的个体不能进行Hib疫苗的接种，对疫苗中任何一种成分，特别是破伤风类毒素过敏者禁忌。


【Hib疫苗多少钱】

接种hib疫苗多少钱？根据接种疫苗的要求，hib疫苗总共需要打三针，接种一针的hib疫苗大约是100元-150元，三针hib疫苗打下来大约需要300-400元，所以说hib疫苗不是很贵，一般人都可以承受。为了宝宝的身体健康，妈妈们还是让宝宝接种hib疫苗比较好，以防万一。</string>
		<key>vaccineId</key>
		<string>106</string>
		<key>vaccindateDate</key>
		<string>000400</string>
		<key>vaccineOverDue</key>
		<string>000400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五联疫苗 第3/4针</string>
		<key>time</key>
		<string>4月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

五联疫苗是指含有五个活的、灭活的生物体或者提纯的抗原，由生产者联合配制而成，用于预防多种疾病，2011年5月作为首个儿童五联疫苗在国内上市，该疫苗可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病，使原本为预防这五大疾病所需要的接种针次由12针降至4针，有效轻了宝宝接种时的痛苦。

【预防疾病】

可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病。

【接种对象和时间】

在婴儿2、3、4或3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、注射后有可能出现发热、注射局部可能短时出现硬结。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>107</string>
		<key>vaccindateDate</key>
		<string>000400</string>
		<key>vaccineOverDue</key>
		<string>000400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7价肺炎疫苗 第2/4针</string>
		<key>time</key>
		<string>4月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本品接种用于婴幼儿主动免疫，以预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。肺炎球菌属链球菌属，是细菌性肺炎的主要病原菌。接种肺炎球菌疫苗能有效的预防肺炎。

【预防疾病】

预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。
【接种对象和时间】

推荐常规免疫接种程序：3、4、5月龄进行基础免疫、12～15月龄加强免疫。

【注意事项】

对本疫苗中任何成份过敏，或对白喉类毒素过敏者禁用。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、最常见的不良反应是注射部位的局部不良反应和发热，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>108</string>
		<key>vaccindateDate</key>
		<string>000400</string>
		<key>vaccineOverDue</key>
		<string>000400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7价肺炎疫苗 第3/4针</string>
		<key>time</key>
		<string>5月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本品接种用于婴幼儿主动免疫，以预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。肺炎球菌属链球菌属，是细菌性肺炎的主要病原菌。接种肺炎球菌疫苗能有效的预防肺炎。

【预防疾病】

预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。
【接种对象和时间】

推荐常规免疫接种程序：3、4、5月龄进行基础免疫、12～15月龄加强免疫。

【注意事项】

对本疫苗中任何成份过敏，或对白喉类毒素过敏者禁用。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、最常见的不良反应是注射部位的局部不良反应和发热，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>109</string>
		<key>vaccindateDate</key>
		<string>000500</string>
		<key>vaccineOverDue</key>
		<string>000500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7价肺炎疫苗 第4/4针</string>
		<key>time</key>
		<string>12月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本品接种用于婴幼儿主动免疫，以预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。肺炎球菌属链球菌属，是细菌性肺炎的主要病原菌。接种肺炎球菌疫苗能有效的预防肺炎。

【预防疾病】

预防由本疫苗包括的7种血清型(4、6B、9V、14、18C、19F和23F)肺炎球菌引起的侵袭性疾病。
【接种对象和时间】

推荐常规免疫接种程序：3、4、5月龄进行基础免疫、12～15月龄加强免疫。

【注意事项】

对本疫苗中任何成份过敏，或对白喉类毒素过敏者禁用。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、最常见的不良反应是注射部位的局部不良反应和发热，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>110</string>
		<key>vaccindateDate</key>
		<string>001200</string>
		<key>vaccineOverDue</key>
		<string>001200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hib疫苗 第4/4针</string>
		<key>time</key>
		<string>18月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

Hib疫苗又称b型流感嗜血杆菌疫苗，Hib是一种引起婴幼儿严重疾病，甚至死亡的致病菌，为嗜血杆菌属，革兰氏阴性球杆菌。可导致多种侵袭性疾病，如脑膜炎、肺炎、会厌炎、败血症、蜂窝组织炎、心包炎、脊髓炎等。 全球每年约300万儿童受到感染，造成40—70万儿童死亡。在我国，化脓性脑膜炎的50%左右、肺炎的30%左右是由Hib引起的。

【预防疾病】

适用于预防由b型流感嗜血杆菌感染引起的一系列疾病如：脑膜炎、肺炎、咽喉炎、败血症等。在应用疫苗前，b型流感嗜血杆菌脑膜炎的病死率约为2%～5%。而且15%～30%的病例会留有不同程度的神经系统后遗症。如果家庭经济状况允许，为宝宝接种b型嗜血流感杆菌结合疫苗还是有必要的

【接种对象和时间】

1、基础接种程序：6周到6个月宝宝，接种三针，一般是2月、3月、5月三针，第二年加强一针，共4针。

2、补漏程序：7-11月宝宝接种2针，一般是7月、9月时候各接种一针，第二年加强一针,共3针。1岁以上宝宝接种1针。

【Hib疫苗有必要打吗】

自费疫苗hib是否要打，要根据宝宝的具体情况来定，如果宝宝的免疫功能强，感受抵御外来风寒能力强，与小朋友接触不多，可以不打的，否则就要接种免疫，爸妈花钱为宝宝买个安心也是可以理解的。

【注意事项】

禁忌：对发烧或患急性感染性疾病的个体不能进行Hib疫苗的接种，对疫苗中任何一种成分，特别是破伤风类毒素过敏者禁忌。


【Hib疫苗多少钱】

接种hib疫苗多少钱？根据接种疫苗的要求，hib疫苗总共需要打三针，接种一针的hib疫苗大约是100元-150元，三针hib疫苗打下来大约需要300-400元，所以说hib疫苗不是很贵，一般人都可以承受。为了宝宝的身体健康，妈妈们还是让宝宝接种hib疫苗比较好，以防万一。</string>
		<key>vaccineId</key>
		<string>111</string>
		<key>vaccindateDate</key>
		<string>001800</string>
		<key>vaccineOverDue</key>
		<string>001800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五联疫苗 第4/4针</string>
		<key>time</key>
		<string>18月龄</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

五联疫苗是指含有五个活的、灭活的生物体或者提纯的抗原，由生产者联合配制而成，用于预防多种疾病，2011年5月作为首个儿童五联疫苗在国内上市，该疫苗可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病，使原本为预防这五大疾病所需要的接种针次由12针降至4针，有效轻了宝宝接种时的痛苦。

【预防疾病】

可同时预防白喉、破伤风、百日咳、脊髓灰质炎和b型流感嗜血杆菌感染等五种疾病。

【接种对象和时间】

在婴儿2、3、4或3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、注射后有可能出现发热、注射局部可能短时出现硬结。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>112</string>
		<key>vaccindateDate</key>
		<string>001800</string>
		<key>vaccineOverDue</key>
		<string>001800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>轮状病毒疫苗</string>
		<key>time</key>
		<string>2月龄-3岁</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

轮状病毒感染性腹泻，也称“秋季腹泻”，其实在一年四季都可能发生，但秋末冬初是高发季节。婴幼儿轮状病毒腹泻时经常伴随呕吐和发烧，也可能导致脱水。轮状病毒行肠胃炎既可通过消化道传染，也可通过呼吸道传染，所以有防不胜防的感觉。国产轮状病毒疫苗是减毒重组的活疫苗，是一种口服制剂。

【预防疾病】

婴幼儿轮状病毒腹泻。

【接种对象和时间】

2个月-3岁儿童接种。

【注意事项】

1）注射过免疫球蛋白及其它疫苗接种者，应间隔2周以后方可接种本疫苗；

2）请勿用热开水送服，以避免影响疫苗免疫效果。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、口服后一般无不良反应；偶有低热、呕吐、腹泻、皮疹等轻微反应，多为一次性，一般无需特殊处理，必要时给予对症治疗。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、如果接种后出现严重过敏反应迹象，要立即送医。严重过敏反应迹象包括：呼吸困难、虚弱、声音四垭豁喘息、心跳加速、荨麻疹、眩晕、脸色苍白或喉咙肿胀。如果发生严重过敏反应，过敏反应将在接种后几分钟至数小时内发生。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>113</string>
		<key>vaccindateDate</key>
		<string>000200</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>流感疫苗</string>
		<key>time</key>
		<string>6月-3岁半</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

流感疫苗用于预防流行性感冒。适用于任何可能感染流感病毒的健康人，每年在流行季节前接种一次，免疫力可持续一年。流感疫苗是预防和控制流感的主要措施之一。可以减少接种者感染流感的机会或者减轻流感症状。

【预防疾病】

流行性感冒。

【接种对象和时间】

6月-35个月儿童接种。接种流感疫苗的最佳时机是在每年的流感季节开始前。在我国，特别是北方地区，冬、春季是每年的流感流行季节，因此，9、10月份是最佳接种时机。当然，在流感流行开始以后接种也有预防效果。

【注意事项】

1）对3岁以下的儿童，如果第2次接种时正在患病的话，应推迟注射时间；

2）有过敏体质，特别是对鸡蛋过敏的儿童不适宜接种流感疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种后如接种部位发红，有痛感、酸痛、低烧等，这些情况都属正常，一般24小时之后会自然消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。
轮状病毒感染性腹泻，也称“秋季腹泻”，其实在一年四季都可能发生，但秋末冬初是高发季节。婴幼儿轮状病毒腹泻时经常伴随呕吐和发烧，也可能导致脱水。轮状病毒行肠胃炎既可通过消化道传染，也可通过呼吸道传染，所以有防不胜防的感觉。国产轮状病毒疫苗是减毒重组的活疫苗，是一种口服制剂。

【预防疾病】

婴幼儿轮状病毒腹泻。

【接种对象和时间】

2个月-3岁儿童接种。

【注意事项】

1）注射过免疫球蛋白及其它疫苗接种者，应间隔2周以后方可接种本疫苗；

2）请勿用热开水送服，以避免影响疫苗免疫效果。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、口服后一般无不良反应；偶有低热、呕吐、腹泻、皮疹等轻微反应，多为一次性，一般无需特殊处理，必要时给予对症治疗。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、如果接种后出现严重过敏反应迹象，要立即送医。严重过敏反应迹象包括：呼吸困难、虚弱、声音四垭豁喘息、心跳加速、荨麻疹、眩晕、脸色苍白或喉咙肿胀。如果发生严重过敏反应，过敏反应将在接种后几分钟至数小时内发生。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>114</string>
		<key>vaccindateDate</key>
		<string>000600</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水痘疫苗</string>
		<key>time</key>
		<string>12月龄-12岁</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

水痘疫苗是经水痘病毒传代毒株制备而成，是预防水痘感染的唯一手段。接种水痘疫苗不仅能预防水痘，还能预防因水痘带状疱疹而引起的并发症。即使接种过水痘疫苗也有可能再出水痘，但大多数接种过水痘疫苗的人不会再得，即使得了，症状也很轻微，通常脓疱较少，不会发烧，并且很快就能复原。

【预防疾病】

水痘。

【接种对象和时间】

建议无水痘史的成人和青少年应该接种，易感人群主要是12月龄-12周岁的健康儿童。

【注意事项】

注射过免疫球蛋白者应间隔1个月后接种本疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种本疫苗后一般无反应，在接种6-18天内少数人可有短暂一过性的发热或轻微皮疹，一般无需治疗会自行消退，必要时可对症治疗。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>115</string>
		<key>vaccindateDate</key>
		<string>001200</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>23价肺炎疫苗</string>
		<key>time</key>
		<string>24月龄以上</string>
		<key>tag</key>
		<string>自费</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本品是肌注或皮下注射的无菌液体疫苗。它由23种普遍流行或侵袭力强的肺炎链球菌荚膜多糖混合物组成并经高度纯化。其中包括6种最常见的导致美国儿童和成人肺炎球菌侵袭性感染耐药的血清型。

【预防疾病】

预防该疫苗所含荚膜菌型的肺炎球菌疾病。

【接种对象和时间】

24月龄以上的肺炎易感者。

【注意事项】

对于心血管和/或肺功能严重受损的个体，接种疫苗的全身反应可引起严重危险；慎用本品并加以适当护理。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、在临床试验中最常见的不良反应为发热(≤38.8℃/102℉)、注射部位的局部反应（包括疼痛、红斑、发热、肿胀和局部硬结）。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。</string>
		<key>vaccineId</key>
		<string>116</string>
		<key>vaccindateDate</key>
		<string>002400</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
</array>
</plist>
