<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>HCG参考值</string>
		<key>vcId</key>
		<string>100001</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>孕酮参考值</string>
		<key>vcId</key>
		<string>100002</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADMomDiaryViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>孕妈日记</string>
		<key>vcId</key>
		<string>100003</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADInLabourViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>待产包</string>
		<key>vcId</key>
		<string>100004</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADCheckCalViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>产检日历</string>
		<key>vcId</key>
		<string>100005</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>胎儿体重计算</string>
		<key>vcId</key>
		<string>100006</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADCanNotEatViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>不能吃</string>
		<key>vcId</key>
		<string>100007</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>B超单解读</string>
		<key>vcId</key>
		<string>100008</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>孕期体重标准</string>
		<key>vcId</key>
		<string>100009</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADContractionViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>宫缩计时器</string>
		<key>vcId</key>
		<string>100010</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADGestationViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>胎儿发育图</string>
		<key>vcId</key>
		<string>100011</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>胎儿发育评测</string>
		<key>vcId</key>
		<string>100012</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADBabyShotViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>大肚成长记</string>
		<key>vcId</key>
		<string>100013</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADConfinementViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>坐月子</string>
		<key>vcId</key>
		<string>100014</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADCountFetalViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>数胎动</string>
		<key>vcId</key>
		<string>100015</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>预产期计算器</string>
		<key>vcId</key>
		<string>100016</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>生男生女表</string>
		<key>vcId</key>
		<string>100017</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string></string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>唐筛查看男女</string>
		<key>vcId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADDreamViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>胎梦解梦</string>
		<key>vcId</key>
		<string>100019</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADCheckArchivesViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>产检档案</string>
		<key>vcId</key>
		<string>100021</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADRateStoreViewController</string>
		<key>isParentTool</key>
		<false/>
		<key>title</key>
		<string>为我点赞</string>
		<key>vcId</key>
		<string>100098</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADVaccineViewController</string>
		<key>isParentTool</key>
		<true/>
		<key>title</key>
		<string>疫苗提醒</string>
		<key>vcId</key>
		<string>100026</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>ADParentHWViewController</string>
		<key>isParentTool</key>
		<true/>
		<key>title</key>
		<string>身高体重</string>
		<key>vcId</key>
		<string>100025</string>
	</dict>
</array>
</plist>
