<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>乙肝疫苗 第1/3针</string>
		<key>time</key>
		<string>出生24小时内</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

乙肝疫苗是用于预防乙肝的特殊药物。疫苗接种后，可刺激免疫系统产生保护性抗体，这种抗体存在于人的体液之中，乙肝病毒一旦出现，抗体会立即作用，将其清除，阻止感染，并不会伤害肝脏，从而使人体具有了预防乙肝的免疫力，达到预防乙肝感染的目的。接种乙肝疫苗是预防乙肝病毒感染的最有效方法。

【预防疾病】

乙型病毒性肝炎

【接种对象和时间】

在婴儿出生第一天（24小时）注射第一针；满1个月时注射第二针；满6个月时注射第三针。

【注意事项】

乙肝疫苗可以和流脑疫苗、脊髓灰质疫苗、乙脑疫苗同时接种，但是乙肝疫苗最好不要和麻疹疫苗同时使用。另外，严重湿疹的婴儿不宜接种乙肝疫苗。注射过多价免疫球蛋白的小儿，6周内不应该接种麻疹疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、所有的疫苗接种后都可能会有发烧、红肿现象，妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息；

3、宝宝当天接种后尽量不要洗澡，以免感染 接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>1</string>
		<key>vaccindateDate</key>
		<string>000001</string>
		<key>vaccineOverDue</key>
		<string>000001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卡介苗</string>
		<key>time</key>
		<string>出生24小时内</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

卡介苗简称BCG，是用于预防结核病的疫苗，使用活的无毒牛型结核杆菌制成。接种人体后通过引起轻微感染而产生对人型结核杆菌的免疫力。90%以上的受种者会在接种局部形成溃疡持续数周至半年，最后愈合形成疤痕，俗称卡疤。牛型结核杆菌在特殊的人工培养基上，经数年的传代，丧失对人类的致病能力，但仍保持有足够高的免疫原性，成为可在一定程度上预防结核的疫苗，对于预防结核性脑膜炎和血行播散性结核有效。

【预防疾病】

肺结核；结核性脑膜炎

【接种对象和时间】

婴儿出生第一天（24小时内）

【注意事项】

宝宝接种卡介苗2周左右，接种部位会出现局部红肿、浸润、化脓，并形成小溃疡，慢慢结痂、脱落，属正常现象，不需刻意去处理，家长切忌用碘酒、酒精消毒，这样不仅不利于伤口愈合，还会减弱卡介苗的接种效果。</string>
		<key>vaccineId</key>
		<string>2</string>
		<key>vaccindateDate</key>
		<string>000001</string>
		<key>vaccineOverDue</key>
		<string>000001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乙肝疫苗 第2/3针</string>
		<key>time</key>
		<string>1月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

乙肝疫苗是用于预防乙肝的特殊药物。疫苗接种后，可刺激免疫系统产生保护性抗体，这种抗体存在于人的体液之中，乙肝病毒一旦出现，抗体会立即作用，将其清除，阻止感染，并不会伤害肝脏，从而使人体具有了预防乙肝的免疫力，达到预防乙肝感染的目的。接种乙肝疫苗是预防乙肝病毒感染的最有效方法。

【预防疾病】

乙型病毒性肝炎

【接种对象和时间】

在婴儿出生第一天（24小时）注射第一针；满1个月时注射第二针；满6个月时注射第三针。

【注意事项】

乙肝疫苗可以和流脑疫苗、脊髓灰质疫苗、乙脑疫苗同时接种，但是乙肝疫苗最好不要和麻疹疫苗同时使用。另外，严重湿疹的婴儿不宜接种乙肝疫苗。注射过多价免疫球蛋白的小儿，6周内不应该接种麻疹疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、所有的疫苗接种后都可能会有发烧、红肿现象，妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息；

3、宝宝当天接种后尽量不要洗澡，以免感染 接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>3</string>
		<key>vaccindateDate</key>
		<string>000100</string>
		<key>vaccineOverDue</key>
		<string>000100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>脊灰疫苗 第1/4针</string>
		<key>time</key>
		<string>2月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

脊髓灰质炎疫苗（糖丸）是预防和消灭小儿麻痹症（脊髓灰质炎）的有效控制手段。小儿麻痹症是一种由病毒引起的疾病，其病从口入。这种病可能导致脑膜炎，严重的甚至会导致患者瘫痪，甚至死亡。我国目前免费接种的是口服的脊髓灰质炎减毒活疫苗（OPV)，也就是大家熟悉的“糖丸”，它是由活的、但致病力降低的病毒制成。

【预防疾病】

脊髓灰质炎（又叫小儿麻痹症）

【接种对象和时间】

婴儿出生第2、3、4个月，和4岁时各服一次。

【注意事项】

1、为口服糖丸剂，服糖丸前半小时内不宜给宝宝喂奶；

2、吃糖丸时最好是凉开水送服，服完半小时内最好不要喝热饮；

3、服苗后两小时内停止吸吮母乳（可用牛奶或其他代乳品），否则母乳中抗体会中和（杀死）疫苗，影响效果。

4、如果服用后因吐奶或呕吐等导致疫苗服用剂量不足的话，可重新补服。

5、牛奶过敏、腹泻、免疫低下的婴儿不能接种OPV。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、服用后一般无不良反应，仅见少数轻微胃肠道症状。

3、如果接种后出现严重过敏反应迹象，要立即送医。严重过敏反应迹象包括：呼吸困难、虚弱、声音四垭豁喘息、心跳加速、荨麻疹、眩晕、脸色苍白或喉咙肿胀。如果发生严重过敏反应，过敏反应将在接种后几分钟至数小时内发生。

【贴心提醒】

此种疫苗只能口服，不能注射，患胃肠病时最好延缓使用。

【另一种选择】

用来预防小儿麻痹症的脊髓灰质炎疫苗，还有一种注射的灭活脊髓灰质炎疫苗（IPV）。推荐接种时间为生后满2、4、6个月、15~18个月和4~6岁。灭活脊髓灰质炎疫苗（IPV）接种时没有特别禁忌，且比口服脊髓灰质疫苗的效果要好、更安全。

除了单独的IPV，还有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。</string>
		<key>vaccineId</key>
		<string>4</string>
		<key>vaccindateDate</key>
		<string>000200</string>
		<key>vaccineOverDue</key>
		<string>000200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>脊灰疫苗 第2/4针</string>
		<key>time</key>
		<string>3月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

脊髓灰质炎疫苗（糖丸）是预防和消灭小儿麻痹症（脊髓灰质炎）的有效控制手段。小儿麻痹症是一种由病毒引起的疾病，其病从口入。这种病可能导致脑膜炎，严重的甚至会导致患者瘫痪，甚至死亡。我国目前免费接种的是口服的脊髓灰质炎减毒活疫苗（OPV)，也就是大家熟悉的“糖丸”，它是由活的、但致病力降低的病毒制成。

【预防疾病】

脊髓灰质炎（又叫小儿麻痹症）

【接种对象和时间】

婴儿出生第2、3、4个月，和4岁时各服一次。

【注意事项】

1、为口服糖丸剂，服糖丸前半小时内不宜给宝宝喂奶；

2、吃糖丸时最好是凉开水送服，服完半小时内最好不要喝热饮；

3、服苗后两小时内停止吸吮母乳（可用牛奶或其他代乳品），否则母乳中抗体会中和（杀死）疫苗，影响效果。

4、如果服用后因吐奶或呕吐等导致疫苗服用剂量不足的话，可重新补服。

5、牛奶过敏、腹泻、免疫低下的婴儿不能接种OPV。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、服用后一般无不良反应，仅见少数轻微胃肠道症状。

3、如果接种后出现严重过敏反应迹象，要立即送医。严重过敏反应迹象包括：呼吸困难、虚弱、声音四垭豁喘息、心跳加速、荨麻疹、眩晕、脸色苍白或喉咙肿胀。如果发生严重过敏反应，过敏反应将在接种后几分钟至数小时内发生。

【贴心提醒】

此种疫苗只能口服，不能注射，患胃肠病时最好延缓使用。

【另一种选择】

用来预防小儿麻痹症的脊髓灰质炎疫苗，还有一种注射的灭活脊髓灰质炎疫苗（IPV）。推荐接种时间为生后满2、4、6个月、15~18个月和4~6岁。灭活脊髓灰质炎疫苗（IPV）接种时没有特别禁忌，且比口服脊髓灰质疫苗的效果要好、更安全。

除了单独的IPV，还有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。</string>
		<key>vaccineId</key>
		<string>5</string>
		<key>vaccindateDate</key>
		<string>000300</string>
		<key>vaccineOverDue</key>
		<string>000300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>百白破疫苗 第1/4针</string>
		<key>time</key>
		<string>3月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

百白破疫苗是百日咳、白喉、破伤风三合一疫苗，它是由百日咳疫苗、精制白喉和破伤风类毒素按适量比例配制而成，是预防百日咳、白喉、破伤风三种疾病的有效措施。

【预防疾病】

预防百日咳、白喉、破伤风三种疾病。

【接种对象和时间】

在婴儿3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫，6周岁时用精制白喉疫苗或精制白破二联疫苗加强免疫一针。

【注意事项】

患有中枢神经系统疾病，如脑病、癫痫等或有既往病史者，以及属于过敏体质的人不能接种；发热、急性疾病和慢性疾病的急性发作期应缓种。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、可能会引起局部硬结、发热等副反应，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

目前已有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。家长为了减少预防接种次数可以选择五联疫苗。五联疫苗作为一种制剂，所含防腐剂、添加剂明显少于各单独疫苗的防腐剂、添加剂之和，安全性得到了提高，但价格较高。家长可以根据自身经济情况选择。</string>
		<key>vaccineId</key>
		<string>6</string>
		<key>vaccindateDate</key>
		<string>000300</string>
		<key>vaccineOverDue</key>
		<string>000300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>脊灰疫苗 第3/4针</string>
		<key>time</key>
		<string>4月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

脊髓灰质炎疫苗（糖丸）是预防和消灭小儿麻痹症（脊髓灰质炎）的有效控制手段。小儿麻痹症是一种由病毒引起的疾病，其病从口入。这种病可能导致脑膜炎，严重的甚至会导致患者瘫痪，甚至死亡。我国目前免费接种的是口服的脊髓灰质炎减毒活疫苗（OPV)，也就是大家熟悉的“糖丸”，它是由活的、但致病力降低的病毒制成。

【预防疾病】

脊髓灰质炎（又叫小儿麻痹症）

【接种对象和时间】

婴儿出生第2、3、4个月，和4岁时各服一次。

【注意事项】

1、为口服糖丸剂，服糖丸前半小时内不宜给宝宝喂奶；

2、吃糖丸时最好是凉开水送服，服完半小时内最好不要喝热饮；

3、服苗后两小时内停止吸吮母乳（可用牛奶或其他代乳品），否则母乳中抗体会中和（杀死）疫苗，影响效果。

4、如果服用后因吐奶或呕吐等导致疫苗服用剂量不足的话，可重新补服。

5、牛奶过敏、腹泻、免疫低下的婴儿不能接种OPV。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、服用后一般无不良反应，仅见少数轻微胃肠道症状。

3、如果接种后出现严重过敏反应迹象，要立即送医。严重过敏反应迹象包括：呼吸困难、虚弱、声音四垭豁喘息、心跳加速、荨麻疹、眩晕、脸色苍白或喉咙肿胀。如果发生严重过敏反应，过敏反应将在接种后几分钟至数小时内发生。

【贴心提醒】

此种疫苗只能口服，不能注射，患胃肠病时最好延缓使用。

【另一种选择】

用来预防小儿麻痹症的脊髓灰质炎疫苗，还有一种注射的灭活脊髓灰质炎疫苗（IPV）。推荐接种时间为生后满2、4、6个月、15~18个月和4~6岁。灭活脊髓灰质炎疫苗（IPV）接种时没有特别禁忌，且比口服脊髓灰质疫苗的效果要好、更安全。

除了单独的IPV，还有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。
</string>
		<key>vaccineId</key>
		<string>7</string>
		<key>vaccindateDate</key>
		<string>000400</string>
		<key>vaccineOverDue</key>
		<string>000400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>百白破疫苗 第2/4针</string>
		<key>time</key>
		<string>4月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

百白破疫苗是百日咳、白喉、破伤风三合一疫苗，它是由百日咳疫苗、精制白喉和破伤风类毒素按适量比例配制而成，是预防百日咳、白喉、破伤风三种疾病的有效措施。

【预防疾病】

预防百日咳、白喉、破伤风三种疾病。

【接种对象和时间】

在婴儿3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫，6周岁时用精制白喉疫苗或精制白破二联疫苗加强免疫一针。

【注意事项】

患有中枢神经系统疾病，如脑病、癫痫等或有既往病史者，以及属于过敏体质的人不能接种；发热、急性疾病和慢性疾病的急性发作期应缓种。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、可能会引起局部硬结、发热等副反应，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

目前已有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。家长为了减少预防接种次数可以选择五联疫苗。五联疫苗作为一种制剂，所含防腐剂、添加剂明显少于各单独疫苗的防腐剂、添加剂之和，安全性得到了提高，但价格较高。家长可以根据自身经济情况选择。
乙肝疫苗是用于预防乙肝的特殊药物。疫苗接种后，可刺激免疫系统产生保护性抗体，这种抗体存在于人的体液之中，乙肝病毒一旦出现，抗体会立即作用，将其清除，阻止感染，并不会伤害肝脏，从而使人体具有了预防乙肝的免疫力，达到预防乙肝感染的目的。接种乙肝疫苗是预防乙肝病毒感染的最有效方法。

【预防疾病】

乙型病毒性肝炎

【接种对象和时间】

在婴儿出生第一天（24小时）注射第一针；满1个月时注射第二针；满6个月时注射第三针。

【注意事项】

乙肝疫苗可以和流脑疫苗、脊髓灰质疫苗、乙脑疫苗同时接种，但是乙肝疫苗最好不要和麻疹疫苗同时使用。另外，严重湿疹的婴儿不宜接种乙肝疫苗。注射过多价免疫球蛋白的小儿，6周内不应该接种麻疹疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、所有的疫苗接种后都可能会有发烧、红肿现象，妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息；

3、宝宝当天接种后尽量不要洗澡，以免感染 接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>8</string>
		<key>vaccindateDate</key>
		<string>000400</string>
		<key>vaccineOverDue</key>
		<string>000400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>百白破疫苗 第3/4针</string>
		<key>time</key>
		<string>5月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

百白破疫苗是百日咳、白喉、破伤风三合一疫苗，它是由百日咳疫苗、精制白喉和破伤风类毒素按适量比例配制而成，是预防百日咳、白喉、破伤风三种疾病的有效措施。

【预防疾病】

预防百日咳、白喉、破伤风三种疾病。

【接种对象和时间】

在婴儿3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫，6周岁时用精制白喉疫苗或精制白破二联疫苗加强免疫一针。

【注意事项】

患有中枢神经系统疾病，如脑病、癫痫等或有既往病史者，以及属于过敏体质的人不能接种；发热、急性疾病和慢性疾病的急性发作期应缓种。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、可能会引起局部硬结、发热等副反应，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

目前已有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。家长为了减少预防接种次数可以选择五联疫苗。五联疫苗作为一种制剂，所含防腐剂、添加剂明显少于各单独疫苗的防腐剂、添加剂之和，安全性得到了提高，但价格较高。家长可以根据自身经济情况选择。</string>
		<key>vaccineId</key>
		<string>9</string>
		<key>vaccindateDate</key>
		<string>000500</string>
		<key>vaccineOverDue</key>
		<string>000500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乙肝疫苗 第3/3针</string>
		<key>time</key>
		<string>6月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

乙肝疫苗是用于预防乙肝的特殊药物。疫苗接种后，可刺激免疫系统产生保护性抗体，这种抗体存在于人的体液之中，乙肝病毒一旦出现，抗体会立即作用，将其清除，阻止感染，并不会伤害肝脏，从而使人体具有了预防乙肝的免疫力，达到预防乙肝感染的目的。接种乙肝疫苗是预防乙肝病毒感染的最有效方法。

【预防疾病】

乙型病毒性肝炎

【接种对象和时间】

在婴儿出生第一天（24小时）注射第一针；满1个月时注射第二针；满6个月时注射第三针。

【注意事项】

乙肝疫苗可以和流脑疫苗、脊髓灰质疫苗、乙脑疫苗同时接种，但是乙肝疫苗最好不要和麻疹疫苗同时使用。另外，严重湿疹的婴儿不宜接种乙肝疫苗。注射过多价免疫球蛋白的小儿，6周内不应该接种麻疹疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、所有的疫苗接种后都可能会有发烧、红肿现象，妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息；

3、宝宝当天接种后尽量不要洗澡，以免感染 接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>10</string>
		<key>vaccindateDate</key>
		<string>000600</string>
		<key>vaccineOverDue</key>
		<string>000600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A群流脑疫苗 第1/2针</string>
		<key>time</key>
		<string>6月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本疫苗接种后，可使机体产生体液免疫应答，用于预防A群脑膜炎球菌引起的流行性脑脊髓膜炎。自流脑疫苗使用后，对控制、降低流脑的流行起了很重要的作用，目前已经基本控制了流行。

【预防疾病】

预防A群脑膜炎球菌引起的流行性脑脊髓膜炎。

【接种对象和时间】

儿童自6月龄接种第1剂，第1、2剂为基础免疫，2剂次间隔不少于3个月。

【注意事项】

有下列情况者不能接种本疫苗。

1）患有神经系统疾患如癫痫、抽风、脑部疾患等，及有过敏史者；

2）发热、急性疾病；

3）肾脏病、心脏病及活动性肺结核等慢性疾病的活动期。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种本疫苗后，反应轻微，一般无严重的局部反应和全身反应。个别儿童接种后，局部出现红晕、硬结，全身反应有低热，偶有过敏反应。大多数接种者在接种后10～24小时出现，一般1～2天自行恢复，必要时可对症治疗。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>11</string>
		<key>vaccindateDate</key>
		<string>000600</string>
		<key>vaccineOverDue</key>
		<string>000600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麻疹疫苗 第1/2针</string>
		<key>time</key>
		<string>8月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

麻疹疫苗系用麻疹病毒减毒株接种鸡胚细胞经培养收获病毒液后冻干制成。 按瓿签所示用量加灭菌注射用水待完全溶解后使用。于上臂外侧三角肌附着处注射可起到预防麻疹的作用。

【预防疾病】

预防由麻疹病毒引起的急性全身发疹性呼吸道传染病。

【接种对象和时间】

初免年龄为8月龄，再免疫年龄为7周岁。也可8月龄初免，1.5-2岁再免疫1针以减少初免失败的易感者。

【注意事项】

有下列情况者不能接种本疫苗。

1）对青霉素和鸡蛋有过敏史或类过敏反应者；

2）伴有发热的呼吸道疾病、活动性结核、血液病、恶病质和恶性肿瘤等；

3）原发性和继发性免疫缺陷病人或接受免疫抑制剂治疗者。

4）个人或家族有惊厥史和脑外伤史。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、常见的接种反应是在注射部位出现短时间的烧灼感及刺痛。个别受种者可在接种疫苗5~12日出现发热（38.3℃或以上）或皮疹。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>12</string>
		<key>vaccindateDate</key>
		<string>000800</string>
		<key>vaccineOverDue</key>
		<string>000800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乙脑疫苗 第1/2针</string>
		<key>time</key>
		<string>8月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

我国目前正在使用的是乙脑减毒活疫苗，英文名称Japanese Encephalitis Vaccine,Live。为淡黄色疏松体，复溶后为橘红色或淡粉红色澄明液体。接种本疫苗后，可刺激机体产生抗乙型脑炎病毒的免疫力。用于预防流行性乙型脑炎。

【预防疾病】

用于预防流行性乙型脑炎。

【接种对象和时间】

8月龄以上健康儿童及由非疫区进入疫区的儿童和成人。24月龄的宝宝需要注射加强针一剂。

【注意事项】

有下列情况者不能接种本疫苗。

1）发热，患急性传染病、中耳炎、活动性结核或心脏、肾脏及肝脏等疾病者。

2）体质衰弱、有过敏史或癫痫史者。

3）先天性免疫缺陷者，近期或正在进行免疫抑制剂治疗者。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、少数儿童可能出现一过性发热反应，一般不超过2天，可自行缓解。偶有注射部位疼痛或红肿、头疼、肌肉痛，一般不需特殊处理。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

家长也可以选择给宝宝接种自费的乙脑灭活疫苗，相比免费疫苗，自费的疫苗副作用略小，但两者接种效果是一致的，家长可以根据自己的经济承受能力选择使用。</string>
		<key>vaccineId</key>
		<string>13</string>
		<key>vaccindateDate</key>
		<string>000800</string>
		<key>vaccineOverDue</key>
		<string>000800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A群流脑疫苗 第2/2针</string>
		<key>time</key>
		<string>9月龄</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本疫苗接种后，可使机体产生体液免疫应答，用于预防A群脑膜炎球菌引起的流行性脑脊髓膜炎。自流脑疫苗使用后，对控制、降低流脑的流行起了很重要的作用，目前已经基本控制了流行。

【预防疾病】

预防A群脑膜炎球菌引起的流行性脑脊髓膜炎。

【接种对象和时间】

儿童自6月龄接种第1剂，第1、2剂为基础免疫，2剂次间隔不少于3个月。

【注意事项】

有下列情况者不能接种本疫苗。

1）患有神经系统疾患如癫痫、抽风、脑部疾患等，及有过敏史者；

2）发热、急性疾病；

3）肾脏病、心脏病及活动性肺结核等慢性疾病的活动期。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种本疫苗后，反应轻微，一般无严重的局部反应和全身反应。个别儿童接种后，局部出现红晕、硬结，全身反应有低热，偶有过敏反应。大多数接种者在接种后10～24小时出现，一般1～2天自行恢复，必要时可对症治疗。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>14</string>
		<key>vaccindateDate</key>
		<string>000900</string>
		<key>vaccineOverDue</key>
		<string>000900</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麻腮风疫苗</string>
		<key>time</key>
		<string>1.5-2岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

本品系用麻疹病毒减毒株、腮腺炎病毒减毒株分别接种鸡胚细胞，风疹病毒减毒株接种人二倍体细胞，经培养、收获病毒液，三种病毒按比例混合，加适宜稳定剂冻干后制成。为乳酪色疏松体，复溶后为橘红色或淡粉红色澄明液体。冻干保护剂主要成份为人血白蛋白、明胶和蔗糖。

【预防疾病】

接种本疫苗后，可刺激机体产生抗麻疹病毒、腮腺炎病毒和风疹病毒的免疫力。用于预防麻疹、流行性腮腺炎和风疹。

【接种对象和时间】

18个月以上的麻疹、腮腺炎和风疹易感者接种。

【注意事项】

1）注射过免疫球蛋白者，应间隔1个月以上再接种本疫苗；

2）本品为减毒或疫苗，不推荐在该疾病流行季节使用。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、注射后一般无局部反应。在6-10天内，个别人可能出现一过性发热反应以及散在皮疹，一般不超过2天可自行缓解，成人接种后2-4周个别人可能出现一过性关节痛反应，通常不需特殊处理，必要时可对症治疗。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>15</string>
		<key>vaccindateDate</key>
		<string>001800</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>百白破疫苗 第4/4针</string>
		<key>time</key>
		<string>1.5-2岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

百白破疫苗是百日咳、白喉、破伤风三合一疫苗，它是由百日咳疫苗、精制白喉和破伤风类毒素按适量比例配制而成，是预防百日咳、白喉、破伤风三种疾病的有效措施。

【预防疾病】

预防百日咳、白喉、破伤风三种疾病。

【接种对象和时间】

在婴儿3、4、5月龄分别进行三针基础免疫，然后在18月龄再注射一针加强免疫，6周岁时用精制白喉疫苗或精制白破二联疫苗加强免疫一针。

【注意事项】

患有中枢神经系统疾病，如脑病、癫痫等或有既往病史者，以及属于过敏体质的人不能接种；发热、急性疾病和慢性疾病的急性发作期应缓种。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、可能会引起局部硬结、发热等副反应，一般2-3天内消失。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

目前已有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。家长为了减少预防接种次数可以选择五联疫苗。五联疫苗作为一种制剂，所含防腐剂、添加剂明显少于各单独疫苗的防腐剂、添加剂之和，安全性得到了提高，但价格较高。家长可以根据自身经济情况选择。</string>
		<key>vaccineId</key>
		<string>16</string>
		<key>vaccindateDate</key>
		<string>001800</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>甲肝疫苗</string>
		<key>time</key>
		<string>1.5-2岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

甲型肝炎是由甲型肝炎病毒（HAV）引发的严重肝病，患上甲型肝炎的人往往病情严重，需要住院治疗，甚至可能致命。甲型肝炎疫苗可以预防甲型肝炎。我国目前正在使用的是甲肝减毒活疫苗，系冻干减毒活疫苗，为乳白色疏松体，溶解后应为透明、澄清液体。

【预防疾病】

甲型肝炎。

【接种对象和时间】

接种对象为18月龄以上的甲型肝炎易感者。

【注意事项】

注射丙种球蛋白者，应间隔一个月以上再接种本制品。

任何情况下都不得向未满一岁的儿童接种甲型肝炎疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种甲型肝炎疫苗后，注射部位可出现疼痛和触痛，还可能会伴有头疼、食欲缺乏及疲倦等不适反应，多数情况下于2-3天内自行消失。接种疫苗后1-2周内，可能出现一过性发热反应。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

家长也可选择自费的灭活甲肝疫苗，系用甲型肝炎病毒株接种人胚肺二倍体细胞，经培养繁殖、收获、提纯、甲醛灭活后和氢氧化铝吸附制成。可在宝宝出生后18个月和24个月分别接种。相比免费疫苗，自费的疫苗副作用略小，但两者接种效果是一致的，家长可以根据自己的经济承受能力选择使用。</string>
		<key>vaccineId</key>
		<string>17</string>
		<key>vaccindateDate</key>
		<string>001800</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乙脑疫苗 第2/2针</string>
		<key>time</key>
		<string>1.5-2岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

我国目前正在使用的是乙脑减毒活疫苗，英文名称Japanese Encephalitis Vaccine,Live。为淡黄色疏松体，复溶后为橘红色或淡粉红色澄明液体。接种本疫苗后，可刺激机体产生抗乙型脑炎病毒的免疫力。用于预防流行性乙型脑炎。

【预防疾病】

用于预防流行性乙型脑炎。

【接种对象和时间】

8月龄以上健康儿童及由非疫区进入疫区的儿童和成人。24月龄的宝宝需要注射加强针一剂。

【注意事项】

有下列情况者不能接种本疫苗。

1）发热，患急性传染病、中耳炎、活动性结核或心脏、肾脏及肝脏等疾病者。

2）体质衰弱、有过敏史或癫痫史者。

3）先天性免疫缺陷者，近期或正在进行免疫抑制剂治疗者。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、少数儿童可能出现一过性发热反应，一般不超过2天，可自行缓解。偶有注射部位疼痛或红肿、头疼、肌肉痛，一般不需特殊处理。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

家长也可以选择给宝宝接种自费的乙脑灭活疫苗，相比免费疫苗，自费的疫苗副作用略小，但两者接种效果是一致的，家长可以根据自己的经济承受能力选择使用。</string>
		<key>vaccineId</key>
		<string>18</string>
		<key>vaccindateDate</key>
		<string>001800</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A+C群流脑疫苗 第1/2针</string>
		<key>time</key>
		<string>3岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

A群及C群脑膜炎奈瑟菌培养液，经提纯获取A群及C群荚膜多糖抗原，纯化后加入乳糖冻干，再经无菌、安全、毒力试验和分子量测定合格后，即成为合格疫苗。经冷冻干燥后其性质比较稳定，自冻干之日起有效期为2年，在盒签或（瓶签）标明的有效期内使用。成品外观为白色的疏松体，加入所附稀释剂后可迅速溶解，溶液澄明无异物。本疫苗接种后，可使机体产生体液免疫应答，用于预防A群及C群脑膜炎球菌引起的流行性脑脊髓膜炎。

【预防疾病】

预防A群及C群脑膜炎球菌引起的流行性脑脊髓膜炎。

【接种对象和时间】

2周岁以后的儿童或成人，2岁以下儿童接种流脑疫苗不得使用A+C群流脑疫苗。

【注意事项】

接种对象为2岁以上的人群；已接种过1剂A群流脑疫苗者，接种A+C群流脑疫苗与接种A群流脑疫苗的时间间隔不得少于3个月；已接种2剂或2剂以上A群流脑疫苗者，按种A+C群流脑疫苗与接种A群流脑疫苗最后1剂的时间间隔不得少于1年；接种A+C群流脑疫苗，3年内避免重复接种。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种本疫苗后，反应轻微，一般无严重的局部反应和全身反应。个别儿童接种后，局部出现红晕、轻微疼痛1~2天；全身反应有低热。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

家长还可以选择给宝宝接种自费的四价流脑疫苗。近年来，流脑的流行菌群已由原来的A群向C、Y、W135群变迁，且这些菌群具有易传播、隐性感染比例高、起病急、病程进展快、病死率高等特点。接种ACYW135群四价流脑疫苗是预防A、C、Y、W135四种血清群脑膜炎有效方法。</string>
		<key>vaccineId</key>
		<string>19</string>
		<key>vaccindateDate</key>
		<string>003600</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>脊灰疫苗 第4/4针</string>
		<key>time</key>
		<string>4岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

脊髓灰质炎疫苗（糖丸）是预防和消灭小儿麻痹症（脊髓灰质炎）的有效控制手段。小儿麻痹症是一种由病毒引起的疾病，其病从口入。这种病可能导致脑膜炎，严重的甚至会导致患者瘫痪，甚至死亡。我国目前免费接种的是口服的脊髓灰质炎减毒活疫苗（OPV)，也就是大家熟悉的“糖丸”，它是由活的、但致病力降低的病毒制成。

【预防疾病】

脊髓灰质炎（又叫小儿麻痹症）

【接种对象和时间】

婴儿出生第2、3、4个月，和4岁时各服一次。

【注意事项】

1、为口服糖丸剂，服糖丸前半小时内不宜给宝宝喂奶；

2、吃糖丸时最好是凉开水送服，服完半小时内最好不要喝热饮；

3、服苗后两小时内停止吸吮母乳（可用牛奶或其他代乳品），否则母乳中抗体会中和（杀死）疫苗，影响效果。

4、如果服用后因吐奶或呕吐等导致疫苗服用剂量不足的话，可重新补服。

5、牛奶过敏、腹泻、免疫低下的婴儿不能接种OPV。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、服用后一般无不良反应，仅见少数轻微胃肠道症状。

3、如果接种后出现严重过敏反应迹象，要立即送医。严重过敏反应迹象包括：呼吸困难、虚弱、声音四垭豁喘息、心跳加速、荨麻疹、眩晕、脸色苍白或喉咙肿胀。如果发生严重过敏反应，过敏反应将在接种后几分钟至数小时内发生。

【贴心提醒】

此种疫苗只能口服，不能注射，患胃肠病时最好延缓使用。

【另一种选择】

用来预防小儿麻痹症的脊髓灰质炎疫苗，还有一种注射的灭活脊髓灰质炎疫苗（IPV）。推荐接种时间为生后满2、4、6个月、15~18个月和4~6岁。灭活脊髓灰质炎疫苗（IPV）接种时没有特别禁忌，且比口服脊髓灰质疫苗的效果要好、更安全。

除了单独的IPV，还有百白破+b型流感嗜血杆菌+脊髓灰质炎的五联疫苗，一岁内3次，间隔4~12周，生后15~18个月接种第四次。</string>
		<key>vaccineId</key>
		<string>20</string>
		<key>vaccindateDate</key>
		<string>004800</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A+C群流脑疫苗 第2/2针</string>
		<key>time</key>
		<string>6岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

A群及C群脑膜炎奈瑟菌培养液，经提纯获取A群及C群荚膜多糖抗原，纯化后加入乳糖冻干，再经无菌、安全、毒力试验和分子量测定合格后，即成为合格疫苗。经冷冻干燥后其性质比较稳定，自冻干之日起有效期为2年，在盒签或（瓶签）标明的有效期内使用。成品外观为白色的疏松体，加入所附稀释剂后可迅速溶解，溶液澄明无异物。本疫苗接种后，可使机体产生体液免疫应答，用于预防A群及C群脑膜炎球菌引起的流行性脑脊髓膜炎。

【预防疾病】

预防A群及C群脑膜炎球菌引起的流行性脑脊髓膜炎。

【接种对象和时间】

2周岁以后的儿童或成人，2岁以下儿童接种流脑疫苗不得使用A+C群流脑疫苗。

【注意事项】

接种对象为2岁以上的人群；已接种过1剂A群流脑疫苗者，接种A+C群流脑疫苗与接种A群流脑疫苗的时间间隔不得少于3个月；已接种2剂或2剂以上A群流脑疫苗者，按种A+C群流脑疫苗与接种A群流脑疫苗最后1剂的时间间隔不得少于1年；接种A+C群流脑疫苗，3年内避免重复接种。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、接种本疫苗后，反应轻微，一般无严重的局部反应和全身反应。个别儿童接种后，局部出现红晕、轻微疼痛1~2天；全身反应有低热。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。

【另一种选择】

家长还可以选择给宝宝接种自费的四价流脑疫苗。近年来，流脑的流行菌群已由原来的A群向C、Y、W135群变迁，且这些菌群具有易传播、隐性感染比例高、起病急、病程进展快、病死率高等特点。接种ACYW135群四价流脑疫苗是预防A、C、Y、W135四种血清群脑膜炎有效方法。</string>
		<key>vaccineId</key>
		<string>21</string>
		<key>vaccindateDate</key>
		<string>007200</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白破二联疫苗</string>
		<key>time</key>
		<string>6岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

白破疫苗即吸附白喉破伤风联合疫苗。本品系由白喉类毒素原液及破伤风类毒素原液加入氢氧化铝佐剂制成。用于经吸附百白破联合疫苗全程免疫后儿童的白喉、破伤风加强免疫。

【预防疾病】

白喉、破伤风。

【接种对象和时间】

6周岁以上儿童接种。

【注意事项】

患有严重疾病，发热或者过敏史及注射白喉或破伤风类毒素后发生神经系统反映者禁用。。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、局部可能有红肿，疼痛，发痒或者有低热，疲倦 头痛，一般不需要处理，会自行消失；局部有硬结 1-2月可吸收。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>22</string>
		<key>vaccindateDate</key>
		<string>007200</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麻疹疫苗 第2/2针</string>
		<key>time</key>
		<string>7岁</string>
		<key>tag</key>
		<string>必打</string>
		<key>vaccineDes</key>
		<string>【疫苗简介】

【疫苗简介】

麻疹疫苗系用麻疹病毒减毒株接种鸡胚细胞经培养收获病毒液后冻干制成。 按瓿签所示用量加灭菌注射用水待完全溶解后使用。于上臂外侧三角肌附着处注射可起到预防麻疹的作用。

【预防疾病】

预防由麻疹病毒引起的急性全身发疹性呼吸道传染病。

【接种对象和时间】

初免年龄为8月龄，再免疫年龄为7周岁。也可8月龄初免，1.5-2岁再免疫1针以减少初免失败的易感者。

【注意事项】

有下列情况者不能接种本疫苗。

1）对青霉素和鸡蛋有过敏史或类过敏反应者；

2）伴有发热的呼吸道疾病、活动性结核、血液病、恶病质和恶性肿瘤等；

3）原发性和继发性免疫缺陷病人或接受免疫抑制剂治疗者。

4）个人或家族有惊厥史和脑外伤史。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、常见的接种反应是在注射部位出现短时间的烧灼感及刺痛。个别受种者可在接种疫苗5~12日出现发热（38.3℃或以上）或皮疹。妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息。如果体温超过38.5度，可服退热药。

3、宝宝当天接种后尽量不要洗澡，以免感染接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】
【预防疾病】

乙型病毒性肝炎

【接种对象和时间】

在婴儿出生第一天（24小时）注射第一针；满1个月时注射第二针；满6个月时注射第三针。

【注意事项】

乙肝疫苗可以和流脑疫苗、脊髓灰质疫苗、乙脑疫苗同时接种，但是乙肝疫苗最好不要和麻疹疫苗同时使用。另外，严重湿疹的婴儿不宜接种乙肝疫苗。注射过多价免疫球蛋白的小儿，6周内不应该接种麻疹疫苗。

【接种后的护理】

1、接种后应在现场观察30分钟，确定宝宝无反应后再离开接种门诊；

2、所有的疫苗接种后都可能会有发烧、红肿现象，妈妈要特别注意宝宝的体温变化，尽量让宝宝多喝水、多休息；

3、宝宝当天接种后尽量不要洗澡，以免感染 接种部位，实在要洗澡的话最好不用沐浴露，清水即可。

【贴心提醒】

如果宝宝有感冒发烧等不适症状，要等宝宝康复后再接种疫苗。</string>
		<key>vaccineId</key>
		<string>23</string>
		<key>vaccindateDate</key>
		<string>008400</string>
		<key>vaccineOverDue</key>
		<string>000000</string>
	</dict>
</array>
</plist>
